*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

.safar{
    display: flex;
}

.safar1{
    font-weight: bold;
}

.navbar-container{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width:1,173px;
    height: 84px;
    top: 35px;
    left: 133px;

}


.navbar{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
